Package: com.uroboro.math_lexer
Name: math_lexer
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Mathematical expression lexer
Maintainer: uroboro <uroboro845@gmail.com>
Author: uroboro <uroboro845@gmail.com>
Section: System
Tag: role::hacker
